In [26]:
import pandas as pd 
from sklearn import linear_model

In [27]:
df=pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/ML/2_linear_reg_multivariate/homeprices.csv")

In [28]:
df.to_csv("multivariable_case.csv")

In [29]:
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [30]:
new = df.bedrooms.median()

In [31]:
df.bedrooms = df.bedrooms.fillna(new)

In [32]:
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [33]:
reg=linear_model.LinearRegression()

In [34]:
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [35]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [36]:
reg.intercept_

221323.00186540408

In [37]:
reg.predict([[3000,3,40]]) #To predict the price of a 3000sqft area, 3 bedrooms and 40 year old house

array([498408.25158031])

In [38]:
reg.predict([[2500,4,5]])#To predict the price of a 2500sqft area, 4 bedrooms and 5 year old house

array([578876.03748933])